<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

class {{ NAME }}Helper extends \FlyCubePHP\Core\Controllers\Helpers\BaseControllerHelper
{
    // Add here public functions for usage in HTML-template.
}
