/*
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 *
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * Supported require_* commands:
 *
 * require [name]       - load file (search by name without extension)
 * require_tree [path]  - load all files from path
 *
 *= require_tree .
 */
