#
# This is FlyCubePHP application environment configuration file.
#

#
# --- env type ---
#
# NOTE: default env-type: development
# NOTE: supported env-types: production / development
#
# NOTE: enable 'FLY_CUBE_PHP_ENV: production' in production mode!
#
#FLY_CUBE_PHP_ENV: production

#
# --- application settings ---
#
APP_URL_PREFIX: /{{ APP_URL_PREFIX }}

#
# --- cache settings ---
#
# NOTE: disable this settings in production mode!
#
# In production mode:
#  - rebuild cache      - default false
#  - rebuild twig cache - default false
#
# In development mode:
#  - rebuild cache      - default true
#  - rebuild twig cache - default true
#
#FLY_CUBE_PHP_REBUILD_CACHE: false
#FLY_CUBE_PHP_REBUILD_TWIG_CACHE: false

#
# --- protect settings ---
#
# NOTE: enable needed settings in production mode.
#
# In production mode:
#  - CSRF protect       - default true
#  - CSP protect        - default false
#
# In development mode:
#  - CSRF protect       - default true
#  - CSP protect        - default false
#
# Cookie salt - generate by command 'fly_cube_php --secret --secret-length=16'
#
#FLY_CUBE_PHP_CSRF_PROTECT: true
#FLY_CUBE_PHP_CSP_PROTECT: false
#FLY_CUBE_PHP_COOKIE_SIGNED_SALT: "signed cookie"
#FLY_CUBE_PHP_COOKIE_ENCRYPTED_SALT: "authenticated encrypted cookie"

#
# --- controllers settings ---
#
# NOTE: disable this settings in production mode!
#
# In production mode:
#  - enable action output           - default false
#  - enable twig strict variables   - default true
#  - enable twig debug extension    - default false
#  - check duplicate helpers        - default false
#
# In development mode:
#  - enable action output           - default true
#  - enable twig strict variables   - default true
#  - enable twig debug extension    - default true
#  - check duplicate helpers        - default true
#
#FLY_CUBE_PHP_ENABLE_ACTION_OUTPUT: false
#FLY_CUBE_PHP_ENABLE_TWIG_STRICT_VARIABLES: false
#FLY_CUBE_PHP_ENABLE_TWIG_DEBUG_EXTENSION: true
#FLY_CUBE_PHP_CHECK_DUPLICATE_HELPERS: false

#
# --- plugins system settings ---
#
# In production mode:
#  - enable plugins core    - default true
#  - check plugins count    - default true
#
# In development mode:
#  - enable plugins core    - default true
#  - check plugins count    - default true
#
#FLY_CUBE_PHP_ENABLE_PLUGINS_CORE: false
#FLY_CUBE_PHP_CHECK_PLUGINS_COUNT: false

#
# --- extensions settings ---
#
# In production mode:
#  - enable extension support   - default false
#  - extensions folder          - default "extensions"
#
# In development mode:
#  - enable extension support   - default false
#  - extensions folder          - default "extensions"
#
#FLY_CUBE_PHP_ENABLE_EXTENSION_SUPPORT: true
#FLY_CUBE_PHP_EXTENSIONS_FOLDER: "extensions"

#
# --- logging settings ---
#
# Supported log levels:
#  - debug
#  - info
#  - warning
#  - error
#
# In production mode:
#  - enable log                     - default true (enable/disable logging system)
#  - enable rotate log              - default true (enable/disable rotating logging)
#  - log rotate max files           - default 10
#  - log rotate file date format    - default "Y_m_d"
#  - log rotate file name format    - default "{date}_{filename}"
#  - log level                      - default warning
#  - log folder                     - default "log"
#  - date time format               - default "d.m.Y H:i:s"
#
# In development mode:
#  - enable log                     - default true (enable/disable logging system)
#  - enable rotate log              - default false (enable/disable rotating logging)
#  - log rotate max files           - default 10
#  - log rotate file date format    - default "Y_m_d"
#  - log rotate file name format    - default "{date}_{filename}"
#  - log level                      - default debug
#  - log folder                     - default "log"
#  - date time format               - default "d.m.Y H:i:s"
#
#FLY_CUBE_PHP_ENABLE_LOG: true
#FLY_CUBE_PHP_ENABLE_ROTATE_LOG: false
#FLY_CUBE_PHP_LOG_ROTATE_MAX_FILES: 10
#FLY_CUBE_PHP_LOG_ROTATE_FILE_DATE_FORMAT: "Y_m_d"
#FLY_CUBE_PHP_LOG_ROTATE_FILE_NAME_FORMAT: "{date}_{filename}"
#FLY_CUBE_PHP_LOG_LEVEL: debug
#FLY_CUBE_PHP_LOG_FOLDER: "log"
#FLY_CUBE_PHP_LOG_DATE_TIME_FORMAT: "d.m.Y H:i:s"

#
# --- api doc settings ---
#
# In production mode:
#  - enable api-doc                 - default false (enable/disable api-doc system)
#
# In development mode:
#  - enable api-doc                 - default false (enable/disable api-doc system)
#
#FLY_CUBE_PHP_ENABLE_API_DOC: true

#
# --- help doc settings ---
#
# In production mode:
#  - enable help-doc                 - default false (enable/disable help-doc system)
#  - enable table of contents (TOC)  - default false (enable/disable the generation table of contents when creating a markdown)
#  - enable append data              - default false (enable/disable add data to parts if found in different files)
#  - enable heading links            - default false (enable/disable heding IDs and links)
#
# In development mode:
#  - enable help-doc                 - default false (enable/disable help-doc system)
#  - enable table of contents (TOC)  - default false (enable/disable the generation table of contents when creating a markdown)
#  - enable append data              - default false (enable/disable add data to parts if found in different files)
#  - enable heading links            - default false (enable/disable heding IDs and links)
#
#FLY_CUBE_PHP_ENABLE_HELP_DOC: true
#FLY_CUBE_PHP_ENABLE_HELP_DOC_TOC: true
#FLY_CUBE_PHP_ENABLE_HELP_DOC_APPEND_DATA: true
#FLY_CUBE_PHP_ENABLE_HELP_DOC_HEADING_LINKS: true

#
# --- asset pipeline settings ---
#
# In production mode:
#  - enable compression             - default true (enable/disable assets compression)
#  - compression type               - default gzip (set assets compression type)
#
# In development mode:
#  - enable compression             - default false (enable/disable assets compression)
#  - compression type               - default gzip (set assets compression type)
#
# Supported compression types:
#  - gzip
#  - deflate
#
#FLY_CUBE_PHP_ENABLE_ASSETS_COMPRESSION: true
#FLY_CUBE_PHP_ASSETS_COMPRESSION_TYPE: gzip

#
# --- action cable settings ---
#
# In production mode:
#  - mount path                     - default '/cable' (set Action Cable mount path)
#  - enable perform                 - default true (enable/disable remote method call of channel classes)
#
# In development mode:
#  - mount path                     - default '/cable' (set Action Cable mount path)
#  - enable perform                 - default true (enable/disable remote method call of channel classes)
#
#FLY_CUBE_PHP_ACTION_CABLE_MOUNT_PATH: /cable
#FLY_CUBE_PHP_ACTION_CABLE_ENABLE_PERFORM: true
