<!DOCTYPE html>
<html>
<head>
    <!--<link rel='icon' type='image/png' href='{# image_path("logo.png") #}' />-->
    <title>{{ APP_NAME }}</title>

    {{ csrf_meta_tags() }}
    {{ csp_meta_tag() }}

    {{ stylesheet_link_tag("application") }}
    {{ javascript_include_tag("application") }}

    {% if block("head", render_action) is defined %}
    {% set display_head = true %}
    {{ block("head", render_action) }}
    {% set display_head = false %}
    {% endif %}
</head>
<body>
{% include render_action %}
</body>
</html>