<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

class ApplicationControllerAPI extends \FlyCubePHP\Core\Controllers\BaseActionControllerAPI
{
    public function __construct() {
        parent::__construct();
    }
}
