<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

namespace ApplicationCable;
 
class Channel extends \FlyCubePHP\WebSockets\ActionCable\BaseChannel
{
}
 
