"{{ ACTION }}": {
    "description": "",
    "version": "0.0.1",
    "deprecated": false,

    "param-[Param Name]": {
        "name": "",
        "description": "",
        "type": "",
        "optional": false,
        "empty": false,
        "min": 0,
        "max": 0,
        "available-values": [ ]
    },
    
    "param-group-[Param Group Name]": {
        "name": "",
        
        "param-[Param Name N1]": {
            "name": "",
            "description": "",
            "type": "",
            "optional": false,
            "empty": false,
            "min": 0,
            "max": 0,
            "available-values": [ ]
        }
    },

    "headers": {
    },

    "return": {
        "code": 200,
        "type": "",
        "description": "",

        "param-[Param Name N1]": {
            "name": "",
            "description": "",
            "type": "",
            "optional": false,
            "empty": false,
            "min": 0,
            "max": 0,
            "available-values": [ ]
        }
    },

    "error-[Error Name]": {
        "name": "",
        "code": 500,
        "description": "",

        "param-[Param Name N1]": {
            "name": "",
            "description": "",
            "type": "",
            "optional": false,
            "empty": false,
            "min": 0,
            "max": 0,
            "available-values": [ ]
        }
    },

    "example-[Example Name]": {
        "name": "",
        "description": "",
        "request": "",
        "response": ""
    },
    
    "example-[Example With Multilines]": {
        "name": "",
        "description": "",
        "request": [
            "This is multiline",
            "example for request",
            "...etc"
        ],
        "response": [
            "This is multiline",
            "example for response",
            "...etc"
        ]
    }
}
