{
  "default_sqlite_dev": {
    "adapter": "sqlite",
    "database": "db/development.sqlite3"
  },

  "default_sqlite_prod": {
    "adapter": "sqlite",
    "database": "db/production.sqlite3"
  },

  "default_postgresql_dev": {
    "adapter": "postgresql",
    "database": "fly_cube_php_dev",
    "host": "127.0.0.1",
    "port": 5432,
    "username": "postgres",
    "password": "postgres"
  },

  "default_postgresql_prod": {
    "adapter": "postgresql",
    "database": "fly_cube_php_prod",
    "host": "127.0.0.1",
    "port": 5432,
    "username": "postgres",
    "password": "postgres"
  },

  "default_postgresql_unix_dev": {
    "adapter": "postgresql",
    "database": "fly_cube_php_dev",
    "unix_socket_dir": "/var/run/postgresql",
    "username": "postgres",
    "password": "postgres"
  },

  "default_postgresql_unix_prod": {
    "adapter": "postgresql",
    "database": "fly_cube_php_prod",
    "unix_socket_dir": "/var/run/postgresql",
    "username": "postgres",
    "password": "postgres"
  },

  "default_mysql_dev": {
    "adapter": "mysql",
    "database": "fly_cube_php_dev",
    "host": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "root"
  },

  "default_mysql_prod": {
    "adapter": "mysql",
    "database": "fly_cube_php_prod",
    "host": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "root"
  },

  "default_mysql_unix_dev": {
    "adapter": "mysql",
    "database": "fly_cube_php_dev",
    "unix_socket": "/run/mysql/mysql.sock",
    "username": "root",
    "password": "root"
  },

  "default_mysql_unix_prod": {
    "adapter": "mysql",
    "database": "fly_cube_php_prod",
    "unix_socket": "/run/mysql/mysql.sock",
    "username": "root",
    "password": "root"
  },

  "production": "default_sqlite_prod",
  "development": "default_sqlite_dev",
  
  "production_secondary": {
  },

  "development_secondary": {
  }
}
