#
# This is FlyCubePHP application plugins ignore list.
#
# Add here the names of the plugin directories that
# the system should ignore and will not load.
#
# Examples:
# #> ls [PROJECT_ROOT]/plugins/
#
#    component_test_1
#    component_test_2
#    component_test_3
#
# If you need to disable plugin "component_test_3"
# -> add the name of its directory to this file.
#
# If you want to enable plugin "component_test_3",
# you can delete the name of its directory from the file
# or insert the '#' symbol in front of the name.
#
