<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

include_once 'vendor/FlyCubePHP/FlyCubePHP/FlyCubePHP.php';
\FlyCubePHP\requestProcessing();

