<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

class {{ NAME }} extends \FlyCubePHP\Core\Migration\Migration
{
    final public function up() {
        // Set here your code for install migration
    }

    final public function down() {
        // Set here your code for uninstall migration
    }
}
