<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

include_once '{{ PLUGIN_CLASS_NAME }}.php';

${{ PLUGIN_OBJECT_NAME }} = new {{ PLUGIN_CLASS_NAME }}("{{ PLUGIN_NAME }}", "0.0.1", "0.0.1");
\FlyCubePHP\ComponentsCore\ComponentsManager::instance()->appendPlugin(${{ PLUGIN_OBJECT_NAME }});
