<?php
/**
 * Created by FlyCubePHP generator.
 * User: {{ USER }}
 * Date: {{ DATE }}
 * Time: {{ TIME }}
 */

/**
 * This routes list for application {{ APP_NAME }}
 *
 * Use helper functions for set/append routes:
 *
 * 1. Set application root URL:
 *    #> root(string $controller, string $action)
 *
 * 2. Append application get URL:
 *    #> get(string $uri, string $controller, string $action)
 *
 * 3. Append application post URL:
 *    #> post(string $uri, string $controller, string $action)
 *
 * 4. Append application put URL:
 *    #> put(string $uri, string $controller, string $action)
 *
 * 5. Append application patch URL:
 *    #> patch(string $uri, string $controller, string $action)
 *
 * 6. Append application delete URL:
 *    #> delete(string $uri, string $controller, string $action)
 *
 * NOTE: the controller name is written without ending 'Controller'!
 *
 * Examples:
 *
 * #> root("AppCore", "root");
 * #> post("/test", "AppCore", "test");
 *
 * where:
 *  - "AppCoreController"   - controller class name
 *  - "root" and "test"     - controller public methods
 */

namespace FlyCubePHP;

// NOTE: Set routes here...